body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f2f2f2;
}

.popup { /* balise main contenant toute la popup */
    align-items: center;
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 5px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#barre-de-recherche {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    background-color: transparent;
}

.icone-loupe-recherche, .icone-annuler-recherche {cursor: pointer;}
.icone-annuler-recherche {
    background-color: white;
    border-radius: 50%;
    padding: 5px; /* Espace interieur */
    margin-right: 10px; /* Espace exterieur */
    height: 29px; /*hauteur*/
    width: 29px; /*largeur*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    align-items: center;
    text-align: center;
}

.icone-annuler-recherche img {
    width: 90%;
    height: 90%;
}